* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(156, 37, 156);
}

.container {
    height: 50%;
    width: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 1rem;
    box-shadow: 0px 0px 20px 8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 20px 8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 20px 8px rgba(0, 0, 0, 0.75);
    background-color: pink;

}
input{
    margin-bottom: 1rem;
    padding: 0.4rem 1rem;
}
button{
    margin-bottom: 1rem;
    padding: 0.4rem 1rem;
    font-size: 1rem;
}
h3{
    margin-bottom: 1rem;
}